



.Submit,.Upload,.FirstName,.LastName{

    display: grid;
    margin: 1.5em auto 0.5em auto ;
    width: 20vw;

}
Form{
    padding: 2em 10vw;
    width: 60vw;
}


.title{
    text-justify: center;
}