



  .App{
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-position: center;
    
  }

  

.content{
  position: relative;
  background-color: white;
  border-radius: 10px;
}

.body{
  display: flex;
  margin: 15vh 10vw 15vh 5vw;  
  justify-content: space-around;
}

.side{
  width: 33vw;
}

